/* Importação ( Google Fonts) */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');


/* RESET */
* {
    margin: 0;
    border:0;
    padding:0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    
}

/* Layout */
.container{
    margin: 0 auto;
   
}

/* Flex */
.flex{
    display: flex;
    justify-content: space-between;
   
}
.flex2{
    display: flex;
    align-items: center;
}
.flex3{
    display:flex;
    flex-direction: column;
}
.flex4{
    display: flex;
    flex-direction: column-reverse;
}
.flex5 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.Card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* Topo do site */
#topo{
    position: fixed;
    right:7px;
    bottom:1px;
}
#topo img{
    width: 90px;
    height: 90px;
}


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>> BREAKPOINTS <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

/*Smartphone Portrait*/

/* Cabeçalho */

header{
    height: 80px;
    background-color: #ebda40;/*#ebcb3e;/*rgb(252, 242, 112); /*rgb(209, 170, 88)*/
    border-bottom: 2px solid #3693e3;
}

#logo img{
    width: 75px;
    height: 75px;
    padding-right: 80px;
    
}
#check{
    display:none;
}

nav label{
    font-size: 3em;
    padding-right: 15px;
}

nav ul{
    list-style:none;
    background-color: #3693e3;
    height: 150vh;
    width: 100%;
    position: fixed;
    top: 80px;
    right: -100%;
    transition: all 0.5s;

}

#check:checked ~ ul{
    right: 0;
}

nav ul li{
    padding: 20px;
    border-bottom: 1px solid white;
}
nav ul li a {
    text-decoration: none;
    color: #3693e3;
    font-weight: bolder;
    
}

/* Destaque */
#inicio{
    height: 50vh;
    padding: 50px 0px;
    background-color: #e7e4e4;
    /*background-image:linear-gradient(to top,  #dbc816 , #f0e086/*rgb(241, 210, 74)*/
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  
}
#destaqProj{
    display: none;
    
}
#textProj{
    color: #3693e3;
    padding: 0px 15px;
}
#textProj h1{
    margin-bottom: 15px;
}
#textProj h2{
    margin-bottom: 15px;
}

/* Sobre */
#sobre{
    padding: 50px 10px;
    background-color: #3693e3;
    color:white;
}
#sobre h2{
    margin-bottom: 10px;
}
#sobre p{
    margin-bottom: 25px;
}
#video iframe{
    width: 340px;
    height: 191px;  /* Foi realizado calculo para manter a proporçao pelo site - https://www.digitalrebellion.com/webapps/aspectcalc?calc=height&cbo_aspect=a178&res_w2=560 */
    border: 0;
}

 /* Adoção  */

 .Card{
    flex-wrap: wrap;
    justify-content: center;
}

#adocao{
    background-color: #e7e4e4;
}

.cards{
    background-color: white;
    border-radius: 15px;
    width: 320px;
    height: 400px;       
    margin: 20px 20px;
    
}

.image{
    height: 180px;
    margin-bottom: 20px;
    background-size: cover;
    border-radius: 15px 15px 0px 0px;
}
.image-dog{
    background-image: url(/img/dog-card01.jpg);
    
}
.image-cat{
    background-image: url(/img/cat-Card01.jpg);
}
.cards p{
    padding: 10px;
}
.cards h3{
    margin-left: 120px;
}
 

/* Rodapé */
address {
    padding: 35px 10px 50px 10px;
    background-color: #ebda40;
    color: #087fe7;
}
address a{
    text-decoration: none;
    color: #087fe7;
}
address img{
    padding-top: 15px;
}
#IconLocal {
    display: none;
}
#maps{
    display: none;
}
#social{
    margin-bottom: 25px;
}
#social a{
    margin-right: 10px;
}
footer{
    padding: 50px;
    display: flex;
    flex-direction: column-reverse;
    background-color: #3a3939;
    text-align: center;
    color:white;
}



/*Smartphone LandScape*/
@media (min-width: 576px){
   
    /* Layout */
    .container{
        max-width: 540px;
    }
    /* Sobre */
    #video iframe{
        width: 560px;
        height: 315px;
    }
  
    /* Rodapé */
    .flex4 {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    #social{
        margin: 0;
    }
    
}

/*Tablet Portrait*/
@media (min-width: 768px){
  
    /* Layout */
    .container{
        max-width: 720px;
    }
    /* Sobre */
    #video iframe{
        width: 560px;
        height: 315px;
    }
    
}

/*Tablet LandScape*/
@media (min-width: 992px){
   
    .container{
        max-width: 960px;
    }
    /* Sobre */
    #video iframe{
        width: 560px;
        height: 315px;
    }
    
    
}

/*PC*/
@media (min-width: 1200px){
    
    .container{
        max-width: 1140px;
    }

    header{
        height: 150px;
 
    }

    #logo{
        margin-left: 0px;
    }

    #logo img{
        width: 145px;
        height: 145px;
        padding-right: 150px;
        opacity:80%;
    }

    nav label{
        display: none;
    }

    nav ul{
        position: static;
        height: auto;
        background-color: transparent;
        margin-top: 80px;
    }

    nav ul li{
        float: left;
        margin-right: 1em;
        border: 0;
        
    }

    nav ul li a:hover{
        color: rgb(54, 161, 227);
        font-size: 25px;
        transition: all 0.4s;
    }

    /* Destaque */

    #destaqProj{
        display: inline;
    }

    #destaqProj img{
        border-radius: 50%;
        width: 290px;
        height: 270px; 
    }
  

    #textProj{
        margin-left: 70px;
    }

    /* Sobre */
  
    #video iframe{
        width: 560px;
        height: 315px;
    }
    #textoSobre{
        padding-left: 10px;
    }
    .flex3{
        flex-direction: row;
        align-items: center;
    }

    
    /* Adoção  */

    .Card{
        flex-wrap: wrap;
        justify-content: center;
    }
    
    #adocao{
        background-color: rgb(231, 228, 228);
    }

    .cards{
        background-color: white;
        border-radius: 15px;
        width: 320px;
        height: 400px;       
        margin: 20px 20px;
        
    }

    .image{
        height: 180px;
        margin-bottom: 20px;
        background-size: cover;
        border-radius: 15px 15px 0px 0px;
    }
    .image-dog{
        background-image: url(/img/dog-card01.jpg);
        
    }
    .image-cat{
        background-image: url(/img/cat-Card01.jpg);
    }
    .cards p{
        padding: 10px;
    }
    .cards h3{
        margin-left: 120px;
    }

    /* Rodape */
    .flex5{
        flex-direction: row;
    }
    #IconLocal {
        display: inline;
    }
    #MapaLocal {
        display: none;
    }
    #maps{
        display: inline;
    }

    #maps iframe{
        width: 400px;
        height: 300px;
    }

   
    
   
}


